<div class="List show">
  <h1>Show List</h1>
  <table summary="List detail view">
    <tr>
      <th> Name </th>
      <td><%= @list.name %></td>
    <tr>
      <th>Created</th>
      <td><%= @list.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @list.updated_at %></td>
    </tr>
  </table>
</div>