<div class="boards show">
  <h1>Show Boards</h1>
  <table summary="Board detail view">
    <tr>
      <th> Name </th>
      <td><%= @board.name %></td>
    <tr>
      <th>Created</th>
      <td><%= @board.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @board.updated_at %></td>
    </tr>
  </table>
</div>