<table summary="Cards for fields">
  <tr>
    <th>Card Name</th>
    <td><%= f.text_area(:name)%></td>
  </tr>
  <tr>
    <th>Card Status</th>
    <td><%= f.text_area(:status)%></td>
  </tr>      
</table>
