<div class="Card show">
  <h1>Show Card</h1>
  <table summary="Card detail view">
    <tr>
      <th> Name </th>
      <td><%= @card.name %></td>
    <tr>
    <tr>
      <th> Status </th>
      <td><%= @card.status %></td>
    <tr>
      <th>Created</th>
      <td><%= @list.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @list.updated_at %></td>
    </tr>
  </table>
</div>